.c-footer {
    background-color: #f5f5f6;
    .icons {
        .size(100%,100px);
        color: #fff;
        background: linear-gradient(146deg, #c5ceff 0%, #efd9ff 100%);
        .wp {
            .flex;
            .h(100%);
            justify-content: space-between;
            align-items: center;
            gap: 50px;
        }
        .item {
            .flex;
            .fz(21px,27px);
            gap: 15px;
            align-items: center;
        }
    }
    .content{
        .h(410px);
        box-sizing:border-box;
    }
}
