.m-item-scenes {
    .flex;
    .r(5px);
    .size(100%,360px);
    gap: 35px;
    margin: 50px 0 75px 0;
    padding: 49px 60px;
    background-color: #fff;
    box-sizing: border-box;
    .img {
        .size(388px,262px);
    }
    .scenes-box {
        .flex;
        flex-direction: column;
        .label {
            .fz(21px,27px);
            margin: 11px 0 14px 0;
        }
        .desc {
            .fz(16px,25px);
            color: #666;
        }
    }
}
